### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Eclipse ###
.metadata/
.project
.classpath
.settings/
bin/

### IntelliJ ###
.idea/
*.iml

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Build ###
*.class
